* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

.container {
  width: 1349px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.web {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  font-family: sans-serif;
  color: #464646;
}

.left {
  width: 185px;
}

.circle {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.topic {
  display: flex;
}

.topic-content {
  margin-top: 3px;
  margin-bottom: 25px;
}

.topic {
  padding: 10px;
}

.right {
  width: 1012px;
}

.search-bar {
  display: flex;
  margin-bottom: 20px;
  border: 1px white;
  box-shadow: 0px 2px 3px rgb(172, 170, 170);
  border-radius: 5px;
  width: 423px;
}

.search-icon {
  width: 17px;
  height: 17px;
}

.search-meta {
  display: flex;
  justify-content: space-between;
  width: 423px;
  margin: 5px;
}

.search-inf {
  font-size: 12px;
}

.post-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.post {
  width: 324px;
  border: 1px white;
  box-shadow: 0px 2px 3px rgb(172, 170, 170);
  border-radius: 5px;
}

.post-title {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 200;
  padding: 10px;
  color: #313131;
}

.post-meta {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 10px;
}

.post img {
  width: 324px;
  height: 230px;
  border-radius: 5px 5px 0px 0px;
}

.content {
  font-size: 18px;
  font-weight: 200;
}

.container {
  display: flex;
  justify-content: space-around;
}
