* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

.container {
  max-width: 1310px;
  margin-left: auto;
  margin-right: auto;
}

.list-anime-movies {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.anime-movies {
  width: 320px;
  position: relative;
}

.anime-play-button,
.anime-content {
  position: absolute;
}

.anime-play-button {
  top: 10px;
  left: 10px;
}

.anime-content {
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 30px 15px 10px;
  background-image: linear-gradient(
    transparent,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.9)
  );
  color: #eee;
}

.anime-title {
  font-size: 16px;
  margin-bottom: 2px;
  font-weight: 400;
}

.anime-meta {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.anime-movies:hover .anime-play-button {
  opacity: 1;
  filter: drop-shadow(0 0 0.75rem white);
}

.anime-play-button {
  /* Ban đầu  ẩn */
  display: flex;
  opacity: 0;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;
  transition: filter 0.5s 0s linear;
}

.nav .container {
  display: flex;
  justify-content: center;
}

.nav-link {
  display: block;
  padding: 8px 16px;
  background-color: rgb(63, 61, 59);
  color: #eee;
  text-transform: uppercase;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.nav-dropdown .dropdown-button {
  display: block;
  padding: 8px 16px;
  background-color: rgb(63, 61, 59);
  color: #eee;
  text-transform: uppercase;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #eee;
  box-shadow: 0px 3px 5px black;
  width: 100%;
}

.nav-dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  display: block;
  padding: 10px 16px;
}

.nav-dropdown {
  position: relative;
}

.nav-link:hover {
  background-color: rgb(109, 22, 136);
  cursor: pointer;
}

.dropdown-button:hover {
  background-color: rgb(109, 22, 136);
}

.dropdown-item:hover {
  background-color: rgb(109, 22, 136);
}

.anime-movies:hover .anime-thumbnail {
  transition: 2s;
  transform: scale(1.2);
}

.anime-movies {
  overflow: hidden;
}
